@using EntityLayer.Concreate
@model List<AppUser>
@{
	ViewData["Title"] = "UserRoleList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kullanıcı Rol Listesi </h1>

<body>
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox-content">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Kullanıcı</th>
								<th>Rol Ata</th>							
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>@item.UserName</td>
									<td><a href="/Admin/AdminRole/AssignRole/@item.Id" class="btn btn-outline-twitter">Rol Ata</a></td>
								</tr>
							}


						</tbody>
					</table>
					<a href="/Admin/AdminRole/Index" class="btn btn-primary">Role Listesine Dön</a>
				</div>
			</div>
		</div>

	</div>

</body>